header {
    background-color: var(--secondary);
    min-height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 1px var(--secondary);
}

.brand img {
    width: 4em;
}

.options-icon img {
    width: 2em;
}

.options-icon, .brand {
    display: flex;
    align-items: center;
    justify-content: center;
}