.link-panel {
    padding: 0.3em 0;
}

.link-field {
    background-color: var(--white);
    padding: 0.5em 1em;
    margin: 0.4em 0;
}

.svg-style {
    width: 0.6em;
    margin-left: 0.5em;
}

.url {
    font-size: 0.8em;
}
