:root {
    --primary: #dedbe3;
    --secondary: #6c5d53;
    --danger: #a02c2c;
    --text: #000000;
    --white: #ffffff;
}

body {
    min-height: 100vh;
    background-color: var(--primary);
}

.main {
    max-width: 650px;
    margin: 0 auto;
    min-height: 86vh;
    padding: 0 0.5em;
    padding-bottom: 10em;
}

.paragraph {
    padding: 1em 0;
}

.label {
    margin: 0.5em 0;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

button {
    border: none;
    background: none;
    padding: 0.7em 2em;
}

input {
    width: 100%;
    padding: 0.5em 1em;
}

.error {
    color: var(--danger);
}