:root {
    --primary: #dedbe3;
    --secondary: #6c5d53;
    --danger: #a02c2c;
    --text: #000000;
    --white: #ffffff;
}

body {
    min-height: 100vh;
    background-color: var(--primary);
}

.main {
    max-width: 650px;
    margin: 0 auto;
    min-height: calc(93vh-40px);
    padding: 0 0.5em;
    padding-bottom: 10em;
}

.paragraph {
    padding: 1em 0;
}

.label {
    margin: 0.5em 0;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

button {
    border: none;
    background: none;
    padding: 0.7em 2em;
}

input {
    width: 100%;
    padding: 0.5em 1em;
}

.error {
    color: var(--danger);
}

.boldtext {
    font-size: 1.5em;
}

.bottom-margin {
    margin-bottom: 3em;
}

.lds-dual-ring {
    display: inline-block;
    width: 2em;
    height: 2em;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 2em;
    height: 2em;
    margin: 3px;
    border-radius: 50%;
    border: 3px solid var(--secondary);
    border-color: var(--secondary) transparent var(--secondary) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
