@font-face {
    font-family: 'Trebuchet MS';
    src: local('Trebuchet MS'), url('trebuc.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* border: 1px solid red; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 700px) {
    * {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    * {
        font-size: 14px;
    }
}